<!-- create_room.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viwport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/styles.css">
    <title>Create Room </title>
    <style>
        body{
            background-image: url("img.webp");
        }
    </style>
</head>
<body>
    <section>
        <div>
            <h2>Create a New Room</h2>
            <form action="/create-room" method="POST">
            <div class="inputbox">
                <input type="text" name="name" id="name" required>
                <label for="name">Room Name:</label>
                
            </div>
            <div class="inputbox">
                <input type="text" name="roomId" id="roomId" required>
                <label for="roomId">Room ID:</label>
                
            </div>
            <div class="inputbox">
                <input type="number" name="capacity" id="capacity" required>
                <input type="hidden" id="token" >
                <label for="capacity">Capacity:</label>
                
            </div>
            <div class="inputbox">
                <input name="description" id="description">
                <label for="description">Description:</label>
                
            </div>
            <button type="submit"><span></span>Create Room</button>
            </form>
        </div>
            
    </section>
    
    <script>
        const token =localStorage.getItem("jwt")
        console.log(token)
        document.getElementById("token").value=token
    </script>
</body>
</html>
