<!-- dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Add your stylesheet here -->
</head>
<body>
    <header>
        <h1>Welcome !</h1>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/rooms">List of Rooms</a></li>
                <li><a href="/create-room">Create Room</a></li>
                <li><a href="/reservations">Reserve a Room</a></li>
                <li><a >Delete a Room</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <!-- Display additional options or information as needed -->
    </main>

    <footer>
        <!-- Add any footer content here -->
    </footer>

    <script>
        // Store the JWT token in local storage for subsequent requests
        localStorage.setItem('jwt', '<%= token %>');
    </script>
</body>
</html>
