<!-- dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Add your stylesheet here -->
    <link rel="stylesheet" href="/styles.css">
    <style>
        body{
            background-image: url("img.webp");
        }
    </style>
</head>
<body>
   
        
    
    <div class="content">
        <h1>Welcome <%=user.username%> !</h1>
        <p>            <br>          </p>
        
            
                
                    <ul><button><a href="/rooms">List of Rooms</a><span></span></button></ul>
                
                
                    <ul><button><a href="/create-room">Create Room</a><span></span></button></ul>
                
                    <ul><button><a id="a" href="/reservations">Reserve a Room</a><span></span></button></ul>
                
                    <ul><button><a href="/delete">Delete a Room</a><span></span></button></ul>
                
                    <ul><button><a href="/logout">Logout</a><span></span></button></ul>
               
            
    
            <!-- Display additional options or information as needed -->
        
    
        <footer>
            <!-- Add any footer content here -->
        </footer>   
    </div>
    

    <script>
        // Store the JWT token in local storage for subsequent requests
        localStorage.setItem('jwt', '<%= token %>');
      
    </script>
</body>
</html>
