<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viwport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/styles.css">
    <title>Meeting Room </title>
    <style>
        body{
            background-image: url("img.webp");
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Get Your Meeting Room</h1>
        <p>            <br>          </p>
        <div>
            <button><a href="/login"><span></span>Login</a></button>
            <button><a href="/register"><span></span>Register</a></button>
        </div>
    </div>
    
    <div  class="banner">
        
        
    </div>
    
</body>
</html>
