<!DOCTYPE html>
<html>
<head>
    <title>Meeting Room </title>
</head>
<body>
    <h1>Welcome to Meeting Room</h1>
    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</body>
</html>
