<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viwport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/styles.css">
    <title>Meeting Room </title>
    <style>
        body{
            background-image: url("img.webp");
        }
    </style>
</head>
<body>
    <h1>Welcome to Meeting Room</h1>
    <div  class="form-container">
        
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>
    
</body>
</html>
