<!DOCTYPE html>
<html>
<head>
    <title>Available Rooms</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body{
            background-image: url("img.webp");
        }
    </style>
</head>
<body>
    <div>
        <h2>List of Rooms</h2>
    </div>
    
    <section>
       
        <div>
            
            <ul>
                
                <% rooms.forEach(room => { %>
                    <li>
                        <div>
                            <div>
                                <h3><%= room.name %></h3>
                                <p>Capacity: <%= room.capacity %></p>
                                <p>Description: <%= room.description %></p>
                                <a href="/reservations?roomId=<%= room._id %>">Reserve</a>
                            </div>
                        </div>                        
                    </li>
                    <br>
                <% }) %>
            </ul>
        </div>
    </section>
    
</body>
</html>
